# These rules should work on newer udev architecture as well as the older one.
# Basically they watch for all "usb" subsystem add/change events, that occur
# for devices with VID==0403 and PID==6001 (meaning FTDI-based devices), and
# set their device nodes' permissions so that ALL users can read and write to
# them. The devices nodes are found under /dev/bus/usb/xxx/yyy.

ACTION=="add|change", SUBSYSTEM=="tty", ATTRS{serial}=="85439303333351805100", MODE="0666", SYMLINK="limbs"

ACTION=="add|change", SUBSYSTEM=="tty", ATTRS{serial}=="A413136313935161A2D0", MODE="0666", SYMLINK="motors"

